footer > div > div > a {
  color: #AAA9A8;
  transition: all 0.3s ease;

  &:hover {
    color: white;
  }
}

.p-accordion-tab {
  .p-accordion-header-link {
    position: relative;
    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      transition: all 0.3s ease;
    }
  }
  .p-accordion-header-text {
    font-size: 24px;
  }
}