@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
    scroll-behavior: smooth;
    background: #12100D;
    color: white;
    font-family: "Oswald", sans-serif;
    --swiper-navigation-color: red;
    --swiper-pagination-color: red;
}

/*.swiper {
    padding-bottom: 50px !important;
}

.swiper-pagination {
    bottom: 0 !important;
} */